<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task | <%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Task List</h1></a>
      </div>
    </nav>

    <div class="not-found content">
      <h2>Oops! Page Not Found</h2>
    </div>
  </body>
</html>
